.blog{
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 68px;
  align-items: center;
}

.title h2 {
  color: #2C2F24;
  text-align: center;
  font-family: Playfair Display;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  margin: 0;
}

.title p {
  color: #414536;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  inline-size: 632px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-self: center;
  padding: 0 0 138px 0;
}

.cards-content {
  width: 306px;
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  border-radius: 12px 12px 0px 0px;
}

.cards-content-photo {
  width: 306px;
  height: 200px;
  cursor: pointer;
}

.cards-content-photo img {
  width: 306px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.cards-content-text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 0 25px 25px 25px;
  width: 253px;
}

.cards-content-text p:nth-child(1) {
  color: #737865;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  width: 253px;
}

.cards-content-text p:nth-child(2) {
  color: #2C2F24;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
  width: 253px;
  cursor: pointer;
}

@media(max-width: 1320px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 1080px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 720px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .title p {
    inline-size: 500px;
  }
}

@media(max-width: 540px) {
  .title p {
    inline-size: 380px;
  }

  .title h2 {
    font-size: 80px;
  }
}