.titles {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  margin: 74px 0 74px 0;
}

.titles h2 {
  margin: 0;
  color: #2C2F24;
  text-align: center;
  font-family: Playfair Display;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
}

.titles p {
  color: #495460;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  inline-size: 540px;
  margin: 0;
}

.contact-us-form {
  display: flex;
  justify-content: center;
}

form {
  padding: 45px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 2.97872px 59.57446px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex-wrap: wrap;
  
}

form .row {
  display: flex;
  column-gap: 24px;
  row-gap: 24px;
  flex-wrap: wrap;
}

form .row-1 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  
}

.row-1 label {
  color: #2C2F24;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

input[id="name"] {
  border-radius: 72px;
  border: 1px solid #DBDFD0;
  background: #FFF;
  padding: 24px;
  color: #2C2F24;
  font-family: DM Sans;
  font-size: 16px;
  outline: none;
  width: 300px;
  margin: 0 auto;
}

input[id="email"] {
  border-radius: 72px;
  border: 1px solid #DBDFD0;
  background: #FFF;
  padding: 24px;
  color: #2C2F24;
  font-family: DM Sans;
  font-size: 16px;
  outline: none;
  width: 300px;
  margin: 0 auto;
}

input[id="subject"] {
  border-radius: 72px;
  border: 1px solid #DBDFD0;
  background: #FFF;
  padding: 24px;
  color: #2C2F24;
  font-family: DM Sans;
  font-size: 16px;
  outline: none;
  width: 670px;
  margin: 0 auto;
}

textarea {
  border-radius: 16px;
  border: 1px solid #DBDFD0;
  background: #FFF;
  padding: 24px;
  color: #2C2F24;
  font-family: DM Sans;
  font-size: 16px;
  outline: none;
  width: 670px;
}

type::placeholder {
  color: #737865;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

form button {
  padding: 20px 32px;
  border-radius: 118px;
  background: #AD343E;
  border: 1.5px solid #AD343E;
  color: #FFF;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

form button:hover {
  color: #AD343E;
  background-color: #fff;
}

@media(max-width: 830px) {
  input[id="subject"] {
    width: 300px;
  }
  .row-1 textarea {
    width: 300px;
  }

  .row{
    justify-content: center;
  }
}

@media(max-width: 590px) {
  .titles p {
    inline-size: 300px;
  }
  form {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media(max-width: 520px) {
  .titles h2 {
    font-size: 70px;
  }
}

@media(max-width: 400px) {
  form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contact-us-info {
  display: flex;
  justify-content: center;
  column-gap: 90px;
  row-gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.contact-us-info div h4 {
  color: #2C2F24;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
  margin: 0 0 24px 0;
} 

.contact-us-info div p {
  color: #2C2F24;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

.contact-us-info div a {
  text-decoration: none;
  color: #AD343E;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.72px;
}