body {
  margin: 0;
  padding: 0;
  cursor: default;
  background-color: #F9F9F7;
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: #AD343E;
  background-color: #ffffff65;
  backdrop-filter: blur(20px);
}
