.hero {
  display: flex;
  flex-direction: column;
  row-gap: 88px;
}

.hero-title {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.titles h2 {
  color: #2C2F24;
  text-align: center;
  font-family: Playfair Display;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  margin: 0;
}

.titles p {
  color: #495460;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  inline-size: 550px;
}

.buttons {
  display: flex;
  column-gap: 15px;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons .btn {
  padding: 12px 50px;
  border: 1.5px solid #2C2F24;
  border-radius: 50px;
  background: #fff;
  color: #2C2F24;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.buttons .btn:hover {
  color: #FFF;
  background: #AD343E;
  border: 1.5px solid #AD343E;
}

.buttons .active-btn {
  color: #FFF;
  background: #AD343E;
  border: 1.5px solid #AD343E;
}


.card-container {
  padding: 0 0 133px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-self: center;
}

.card {
  width: 306px;
  height: 428px;
  display: flex;
  flex-direction: column;
  border: 1.5px solid #DBDFD0;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  align-items: center;
}


.card-img img {
  width: 306px;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
}

.card-info {
  padding: 30px 30px 35px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.card-info p {
  margin: 0;
}

.card-info p:nth-child(1) {
  color: #AD343E;
  text-align: center;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.72px;
}

.card-info p:nth-child(2) {
  color: #2C2F24;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.card-info p:nth-child(3) {
  color: #414536;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

@media (max-width: 1380px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1080px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 720px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 580px) {
  .titles h2 {
    font-size: 76px;
  }
  .titles p {
    font-size: 16px;
    line-height: 24px;
    inline-size: 300px;
  }
}

/* brands */

.brands {
  padding: 120px 152px;
  display: flex;
  column-gap: 122px;
  row-gap: 40px;
  background-color: #F9F9F7;
  flex-wrap: wrap;
  justify-content: center;
}

.brands-title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.brands-title h2 {
  color: #2C2F24;
  font-family: Playfair Display;
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 60.5px;
  margin: 0;
  inline-size: 346px;
}

.brands-title p {
  color: #414536;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  inline-size: 346px;
}

.brands-logo {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
  
}

.logo-row {
  display: flex;
  column-gap: 24px;
  row-gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-row svg {
  padding: 33px 35px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2.97872px 59.57446px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

